repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: dart-format
        name: Dart Format
        entry: dart format
        language: system
        types: [dart]

      - id: flutter-analyze
        name: Flutter Analyze
        entry: flutter analyze --no-fatal-infos --fatal-warnings
        language: system
        pass_filenames: false
        always_run: true
